[defaults]
action_warnings = True
deprecation_warnings = True
fact_caching = memory
fact_caching_timeout = 86400
inventory = ./inventory/hosts
no_log = False

[galaxy]
display_progress = True

[privilege_escalation]
become_method = sudo
become_user = root
