---
ansible_sudo_pass: changeme

authentik_pg_password: changeme
authentik_secret_key: changeme

podfetch_password: changeme

porkbun_domain: example.com
porkbun_subdomains: ""
porkbun_secret_api_key: changeme
porkbun_api_key: changeme

protonvpn_user: changeme
protonvpn_password: changeme

proxmox_ansible_api_token_id: ansible-token
proxmox_ansible_api_token_secret: changeme

screenscaper_user: changeme
screenscaper_password: changeme
RETROACHIEVEMENTS_API_KEY: changeme

speedtest_app_key: changeme
authentik_api_token: changeme
grafana_username: changeme
grafana_password: changeme
homeassistant_access_token: changeme
immich_api_key: changeme
jellyfin_api_key: changeme
jellyseerr_api_key: changeme
uptime_kuma_status_slug: changeme

telegram_api_token: changeme
telegram_chat_id: 0

qbittorrent_user: changeme
qbittorrent_password: changeme
qbittorrent_socks_user: changeme
qbittorrent_socks_password: changeme

vault_container_root_password: "{{ ansible_sudo_pass }}"
christoffer_password: changeme

immich_db_password: changeme

gitlab_runner_url: https://gitlab.com
gitlab_runner_tokens:
  runner: glrt-change-me

kubernetes_runner_gitlab_token: glrt-change-me

booklore_db_password: changeme
booklore_mysql_root_password: changeme
grimmory_username: changeme
grimmory_password: changeme
tracearr_jwt_secret: changeme
tracearr_cookie_secret: changeme
tracearr_postgres_password: changeme

paperless_db_password: changeme
paperless_username: changeme
paperless_password: changeme
romm_db_password: changeme
romm_auth_secret_key: changeme
romm_mariadb_root_password: changeme

docker_server_ip: 192.168.1.10
opnsense_gateway_ip: 192.0.2.1
gatus_cert_check_hostname: changeme.example.com

# Caddy reverse-proxy upstreams
caddy_upstream_auth: https://192.0.2.21:9443
caddy_upstream_homeassistant: http://192.0.2.22:8123
caddy_upstream_immich: http://192.0.2.23:2283
caddy_upstream_jellyfin: http://192.0.2.24:8096
duckdns_domain: changeme.duckdns.org

homelable_auth_username: admin
homelable_auth_password: changeme
homelable_auth_password_hash: 'changeme'
homelable_secret_key: changeme

signal_alertmanager_number: "+10000000000"
signal_alertmanager_recipients:
  - "+10000000000"

ssh_client_hosts: []

loki_push_url: http://loki.example.com:3100/loki/api/v1/push
alertmanager_signal_webhook_url: http://alertmanager-signal.example.com/api/v3/alertmanager
torrent_lan_network: 192.0.2.0/24
torrent_natpmp_gateway: 192.0.2.1

prometheus_node_exporter_targets:
  - 192.0.2.10:9100

nfs_client_mounts: []
nfs_client_fuse_mounts: []
nfs_server_export_paths: []
nfs_server_export_clients: []
nfs_server_export_options: rw,async,no_root_squash,no_subtree_check
