---
ansible_sudo_pass: changeme

authentik_pg_password: changeme
authentik_secret_key: changeme

podfetch_password: changeme

porkbun_domain: example.com
porkbun_subdomains: ""
porkbun_secret_api_key: changeme
porkbun_api_key: changeme

protonvpn_user: changeme
protonvpn_password: changeme

proxmox_ansible_api_token_id: ansible-token
proxmox_ansible_api_token_secret: changeme

screenscaper_user: changeme
screenscaper_password: changeme
RETROACHIEVEMENTS_API_KEY: changeme

smb_username: changeme
smb_password: changeme
smb_domain: WORKGROUP
samba_share_source: //server/share

speedtest_app_key: changeme

telegram_api_token: changeme
telegram_chat_id: 0

qbittorrent_user: changeme
qbittorrent_password: changeme
qbittorrent_socks_user: changeme
qbittorrent_socks_password: changeme

vault_container_root_password: "{{ ansible_sudo_pass }}"
christoffer_password: changeme

immich_db_password: changeme

gitlab_runner_url: https://gitlab.com
gitlab_runner_token: glrt-change-me

booklore_db_password: changeme
booklore_mysql_root_password: changeme
tracearr_jwt_secret: changeme
tracearr_cookie_secret: changeme
tracearr_postgres_password: changeme

paperless_db_password: changeme
romm_db_password: changeme
romm_auth_secret_key: changeme
romm_mariadb_root_password: changeme

signal_alertmanager_number: "+10000000000"
signal_alertmanager_recipients:
  - "+10000000000"

ssh_client_hosts: []

loki_push_url: http://loki.example.com:3100/loki/api/v1/push
alertmanager_signal_webhook_url: http://alertmanager-signal.example.com/api/v3/alertmanager
torrent_lan_network: 192.0.2.0/24
torrent_natpmp_gateway: 192.0.2.1

prometheus_node_exporter_targets:
  - 192.0.2.10:9100

nfs_client_mounts: []
nfs_client_fuse_mounts: []
nfs_server_export_paths: []
nfs_server_export_clients: []
nfs_server_export_options: rw,async,no_root_squash,no_subtree_check
