*.{{ porkbun_domain }} {
    tls {
        dns porkbun {
            api_key {{ porkbun_api_key }}
            api_secret_key {{ porkbun_secret_api_key }}
        }
    }
{% for site in caddy_reverse_proxies %}
    @{{ site.host }} host {{ site.host }}.{{ porkbun_domain }}
{% if site.insecure_skip_verify | default(false) %}
    reverse_proxy @{{ site.host }} {{ site.upstream }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
{% else %}
    reverse_proxy @{{ site.host }} {{ site.upstream }}
{% endif %}
{% endfor %}
}

{{ caddy_duckdns_host }} {
    reverse_proxy {{ caddy_upstream_homeassistant }}
}
