# QBT_HOST="https://torrent.yourdomain.com"
GATEWAY={{ torrent_natpmp_gateway }}
QBT_USER={{ qbittorrent_user }}
QBT_PASS={{ qbittorrent_password }}
DEBUG=false  # setting to `true` will no longer supress `natpmpc` output
