services:
  prometheus:
    image: prom/prometheus:v3.13.1
    container_name: prometheus
    user: root
    ports:
      - '9090:9090'
    volumes:
      - ./config:/etc/prometheus:ro
      - ./prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped
  
  alertmanager:
    image: prom/alertmanager:v0.33.1
    container_name: alertmanager
    user: root
    volumes:
      - ./config/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - '9093:9093'
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'

  grafana:
    image: grafana/grafana:13.1.1
    container_name: grafana
    user: root
    ports:
      - '3000:3000'
    depends_on:
      - prometheus
    volumes:
      - ./grafana:/var/lib/grafana
    restart: unless-stopped

  loki:
    image: grafana/loki:3.7.4
    container_name: loki
    user: root
    volumes:
      - ./loki:/etc/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yml

  promtail:
    image: grafana/promtail:3.6.11
    container_name: promtail
    user: root
    volumes:
      - /var/log:/var/log
      - ./promtail:/etc/promtail
    restart: unless-stopped
    command: -config.file=/etc/promtail/promtail-config.yml

{% include "common/docker-socket-proxy.yml.j2" %}
